.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    list-style-type: none;
}

.navbar ul li{
    padding: 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#current{
    background-color: black;
    color: white;
}

#hello{
    padding-top:100px;
    padding-left: 30px;
    font-size: 25px;
    color:black;
    text-shadow: 2px 2px lightgray;
    font-weight: bold;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 0% 20% 0% 20%;
}
#item h1{
    text-shadow: 2px 2px lightgray;
    font-weight: bold;
}